@import url("//data.commercelayer.app/assets/fonts/fontawesome.min.css");
@import url("//fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  @apply bg-ashy text-sm md:text-base;

  --navigation-height: 3rem;
}

h1,
h2,
h3,
h4,
h5,
.title {
  font-weight: 700;
  font-style: normal;
  @apply font-poppins text-2xl my-2 md:text-4xl md:my-4;
}

#__next {
  height: 100%;
}

section.content {
  min-height: calc(100vh - 20vh);
}

.background-color-accent {
  @apply bg-accent;
}

.background-color-secondary {
  @apply bg-slate-100;
}

.content-container {
  @apply max-w-[1300px] mx-auto p-2 md:px-4;
}

.navigation {
  @apply flex justify-between items-center h-[var(--navigation-height)];
}
